// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Open Sans', sans-serif;
}

.link-article {
  text-decoration: none;
}

.content-form {
  height: 100px;
}

.container {
  width: 800px;
}

h1 {
  text-align: center;
}

.wrapper {
  margin-top: 50px;

}


